<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="goBack()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      USUÁRIOS CADASTRADOS
    </ion-list-header>

    <ion-item (click)="edit(user)" *ngFor="let user of users">
      <ion-avatar slot="start">
          <ion-icon *ngIf="!user.photo" name="contact"></ion-icon>
          <ion-img  *ngIf="user.photo" [src]="user.photo"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <h3>{{user.email}}</h3>
        <p>{{user.profile.description}}</p>
        <ion-icon *ngIf="!user.confirmed" class="status-icon status-warning"  name="alert"></ion-icon>
        <ion-icon *ngIf="user.confirmed" class="status-icon status-confirmed"  name="checkmark-circle"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>