<ion-header>
  <ion-toolbar>
    <ion-title>
      Aula 1 - IFPE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div *ngIf="isAuthenticatedUserAdmin">
      <h2>Novo Usuário</h2>
      <input [(ngModel)]="newUser.name" placeholder="Digite aqui o seu nome..." type="text" name="nome" required>
      <input [(ngModel)]="newUser.email" placeholder="Digite aqui o seu email..." type="email" name="email" required>    
      
      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-select name="profile" [(ngModel)]="newUser.profileUID" placeholder="Selecione um perfil">
          <ion-select-option *ngFor="let perfil of perfis" value="{{perfil.uid}}">{{perfil.description}}</ion-select-option>
        </ion-select>
      </ion-item>

      <button [disabled]="!newUser.name || !newUser.email" class="btn btn-primary btn-block" (click)="adicionarUsuario()" >Adicionar</button>
    </div>
    <br>

    <table *ngIf="lista.length > 0" class="striped">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Remover</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let usuario of lista">
          <td>
            <input *ngIf="usuario.isEditing" type="text" [(ngModel)]="usuario.name">
            <span *ngIf="!usuario.isEditing" >{{usuario.name}}</span>
          </td>
          <td>
              <input *ngIf="usuario.isEditing" type="text" [(ngModel)]="usuario.email">
              <span *ngIf="!usuario.isEditing" >{{usuario.email}}</span>
            </td>
          <td>
              <i *ngIf="!usuario.isEditing" (click)="edit(usuario)" class="material-icons" style="text-align: center; color: blue; margin-right: 5px;">edit</i> 
              <i *ngIf="!usuario.isEditing" (click)="remove(usuario.uid)" class="material-icons" style="text-align: center; color: red;">delete</i>

              <i *ngIf="usuario.isEditing" (click)="confirmEdit(usuario)" class="material-icons" style="text-align: center; color: green; margin-right: 5px;">done</i> 
              <i *ngIf="usuario.isEditing" (click)="cancelEdit(usuario)" class="material-icons" style="text-align: center; color: red;">cancel</i>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="lista.length == 0"><i class="material-icons">mood_bad</i> Não há usuários cadastrados.</p>








  </div>
</ion-content>
